#about #about-card {
    max-width:    700px;
}

.postShorten-excerpt {
   text-align: justify;
}

.main-content-wrap p {
   text-align: justify;
}

.plot-container.plotly {
   margin: 10px 0 0 0 !important;
}

.leaflet.html-widget.html-widget-static-bound.leaflet-container.leaflet-fade-anim {
   margin: 10px 0 0 40px;
}

.app-fornecedores {
    width: 90%;
    height: 760px;
    margin: 10px;
    border: none;
}
